<div class="container">
  <div id="pcCarrousel" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="../../../assets/img/stok1.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="../../../assets/img/stok2.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="../../../assets/img/stok3.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#pcCarrousel"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#pcCarrousel"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- productos -->
  <div class="card" style="width: 18rem">
    <img
      src="../../../assets/img/familia-pccom-500x500.webp"
      class="card-img-top m-3 w-auto"
      alt=""
    />
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a href="2" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <!-- carrousel multi item -->
  <app-carrousel-marcas></app-carrousel-marcas>
</div>
