<div class="container min-vh-75 py-4 px-40 ">
  <div class="container-fluid border-start border-end min-vh-50 position-static mt-5">
    <form >
      <h2 class="">Iniciar sesi&oacute;n</h2>
      <div class="mb-3">
        <label for="email" class="form-label">Correo electr&oacute;nico</label>
        <input type="email" class="form-control" id="email" #email aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text" hidden>Nunca compartiremos su correo electr&oacute;nico con nadie m&aacute;s.</div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="password" #password>
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="recordi">
        <label class="form-check-label" for="recordi">Recu&eacute;rdame</label>
      </div>
      <button type="submit" class="btn btn-primary">Iniciar sesi&oacute;n</button>
    </form>
  </div>
</div>
