<div class="container">
  <div class="my-2">
    <div class="row border border-dark border-2 rounded-4 my-1 min-vh-">
      <div class="col-3 m">
        <img
          src="../../../assets/img/familia-pccom-500x500.webp"
          alt=""
          class="img-search"
        />
      </div>
      <div class="col-6">
        <div class="row">
          <p>Nombre</p>
        </div>
        <div class="row">
          <p>Descripcion</p>
        </div>
      </div>
      <div class="col-auto">
        <button class="btn btn-secondary mb-3" type="button">
          <span class="">Comprar</span>
        </button>
        <br />
        <button class="btn btn-secondary" type="button">
          <span class="">Añadir al carrito</span>
        </button>
      </div>
    </div>
  </div>
</div>
