/* You can add global styles to this file, and also import other style files */
.bg-custom-gray{
  background-color: #d7d7d7;
}
.px-40 {
  padding-right: 25rem !important;
  padding-left: 25rem !important;
}
.min-vh-75 {
  min-height: 74.9vh !important;
}
.min-vh-50 {
  min-height: 49.45vh !important;
}
.w-12 {
  width: 12% !important;
}
.shopping-basket-product{
  height: fit-content;
}
.quantity-selector {
  width: 115px !important;
}
