<header class="pt-3 bg-info border-bottom border-dark">
  <!-- Encabezado -->
  <div class="pb-2 border-bottom border-dark">
    <div class="container">
      <div
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
      >
        <a
          href="/"
          class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none"
        >
          <img
            src="../assets/img/bootstrap-logo-black.svg"
            class="bi me-2"
            width="40"
            height="32"
            role="img"
            aria-label="Bootstrap"
          />
        </a>
        <ul
          class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
        >
          <!-- <li>
            <a href="" class="nav-link px-2 link-secondary">Overview</a>
          </li>
          <li><a href="" class="nav-link px-2 link-dark">Inventario</a></li>
          <li><a href="" class="nav-link px-2 link-dark">Clientes</a></li>
          <li><a href="" class="nav-link px-2 link-dark">Productos</a></li> -->
        </ul>
        <!-- sesion iniciada -->
        <div class="float-end " *ngIf="isLoggedIn">
          <a href="shopping_cart" class="cursor-pointer">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              fill="currentColor float-end"
              class="bi bi-cart3"
              viewBox="0 0 16 16"
            >
              <path
                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
              />
            </svg>
            <span class="fw-bold fs-4 float-end text-decoration-none text-dark">Carrito</span>
          </a>
          <div class="dropdown text-end float-start me-3">
            <a
              class="d-block link-dark text-decoration-none dropdown-toggle cursor-pointer"
              id="userDropdown"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <img
                src="https://avatars.githubusercontent.com/u/106067102?v=4"
                alt="mdo"
                width="36"
                height="36"
                class="rounded-circle border border-dark border-1"
              />
              <span class="fw-bold fs-4 float-end text-decoration-none text-dark">{{ this.name | slice: 0: 8 }}</span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="userDropdown">
              <li>
                <a class="dropdown-item" href="/auth/data-user">Mis perfil</a>
              </li>
              <li><a class="dropdown-item" href="#">Lista de deseos</a></li>
              <li><a class="dropdown-item" href="/auth/orders">Pedidos</a></li>
              <li>
                <a class="dropdown-item" href="/auth/reviews">Opiniones</a>
              </li>
              <li><hr class="dropdown-divider"/></li>
              <li>
                <a class="dropdown-item" href="#" (click)="closeSesion()"
                  >Cerrar sesión</a
                >
              </li>
            </ul>
          </div>
        </div>
        <!-- sesion NO iniciada -->
        <div class="text-end" *ngIf="!isLoggedIn">
          <button
            type="button"
            class="btn btn-secondary me-2"
            routerLink="auth/login"
          >
            Iniciar sesi&oacute;n
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            routerLink="auth/registration"
          >
            Registrarse
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- SubEncabezado -->
    <div class="pt-2 pb-1 bg-white bg-opacity-50">
      <div class="container d-flex">
        <div class="dropdown">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Categorías
          </button>

          <ul class="dropdown-menu" id="dropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>

        <form class="w-100 ms-3 pe-0" (submit)="search(therm)">
          <input
            #therm
            type="text"
            class="form-control"
            placeholder="Buscar..."
          />
        </form>
        <a (click)="search(therm)">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="26"
            height="26"
            fill="currentColor"
            class="bi bi-search z-1 position-relative text-dark"
            style="right: 33px; top: 5px"
            viewBox="0 0 16 16"
          >
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
            />
          </svg>
        </a>
      </div>
    </div>
</header>
